script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-87825313-3')
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-87825313-3');
